# Entorno virtual
venv/
.env/

# Archivos de logs y resultados
logs/
*.log
*.csv
*.out
*.tmp

# Claves y certificados
*.key
*.pem
*.pub

# Archivos del sistema o temporales
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
Thumbs.db

# Archivos de desarrollo o depuración
*.bak
*.old
*.orig

# Archivos de IDEs
.vscode/
.idea/
*.iml

# Archivos de build o instalación
build/
dist/
*.egg-info/

# Archivos específicos del proyecto
server.key
server.key.pub
out/
